<div class="modal-header">
<h3 class="modal-title">导入单个文件</h3>
</div>
<div class="modal-body">
  <p>接受YAML 或 JSON格式的文件</p>
  <input on-read-file="fileChanged($fileContent)" type="file" ng-model="file">
  <p class="invalid" ng-if="isInvalidFile()">验证错误. 请使用YAML 或 JSON格式的文件</p>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="cancel()">取消</button>
  <button class="btn btn-primary" ng-click="ok()" ng-disabled="isInvalidFile() || !isFileSelected()">Import</button>
</div>
