<div class="about-pane">
  <div class="modal-header">
    <h1 class="overlay-title">API接口设计先行的工作流</h1>
    <h3>轻松建立API接口设计定义</h3>
  </div>
   <div class="file-arrow"></div>
  <div class="sample">试一试</div>
  <button id="dismis-intro" class="btn btn-warning btn-close" ng-click="toggleAboutEditor(false)">
  </button>
  <div class="yaml-author">用YAML格式来写定义...</div>
  <div class="sw-preview">...在Swagger中预览</div>
  <button class="btn btn-warning btn-intro" ng-click="toggleAboutEditor(false)">明白了!</button>
</div>


