<div class="modal-header">
  <h3 class="modal-title">HTTP BA认证</h3>
</div>
<div class="modal-body">
  <form role="form" class="form-horizontal" ng-submit="authenticate(username, password)">
    <div class="form-group">
      <label class="col-sm-3">用户名</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" placeholder="User Name" ng-model="username">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3">密码</label>
      <div class="col-sm-9">
        <input type="password" class="form-control" placeholder="Password" ng-model="password">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="cancel()">取消</button>
  <button class="btn btn-primary" ng-click="authenticate(username, password)">认证</button>
</div>
